.logo, h3 a, h6 a{text-decoration: none;color:inherit;}
h2, h3, h4, h5, h6{font-weight: 600;}
.logo-row{margin-top: 20px;}
.left-image{margin: 0 15px 10px 0;}
.pod figure {
	margin: 0;
	position: relative;
}
.pod figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	background: #2c3f52;
	color: #ed4e6e;
	height: 20px;
	width: 100%;
	top: auto;
	bottom: 5px;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.1s 0.3s;
	transition: transform 0.3s, opacity 0.1s 0.3s;
}
figure:hover figcaption{
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.pod figcaption span{
	
	padding:10px;
}
.pod figcaption span.title{
	color:#fff;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size:16px;
	font-weight: 600;
}
.hidden{
	display:none;
}
.logo-row small{
	position: absolute;
	top:0;
	right: 0;
	font-size: 3.5rem;
}
#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}
#newform{
	padding:20px;
	background: #fff;
	width:450px;
}
#newform form{
	margin-bottom: 0;
}
.button-primary[disabled]{
	opacity: 0.5;
}
#message{
	font-weight: 600;
}
.error{
	color:#dd4b39;
}
.success{
	color:#00a65a;
}
.m0{
	margin-left: 0;
}
.mejs-container .mejs-controls{
	background: none;
}
.mejs-audio{
	position: fixed;
	bottom: 0;
}
.mejs-container{
	background: #33C3F0;
}
.mejs-container .mejs-controls div {
	font-family: Raleway, sans-serif;
}
.mejs-container .mejs-controls div.display-playback-speed{
	width:50px;
	text-align: center;
	cursor: pointer;
}
.mejs-container .display-playback-speed span{
	color: #fff;
	line-height: 32px;
	font-weight: 600;
}
.mejs-controls .mejs-time-rail .mejs-time-current, .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current{
	background:#fff;
}
.mejs-controls .mejs-time-rail .mejs-time-loaded{
	background: #fafafa;
	opacity: 0.5;
}
.mejs-controls .mejs-time-rail .mejs-time-buffering{
	background: #fafafa;
}
.mejs-controls .mejs-time-rail .mejs-time-total, .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total{
	background: #1EAEDB;
}
.mejs-container div.display-playback-title{
	position: absolute;
	width: 100%;
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 15px;
	top: -10px;
}
.mejs-time span{
	font-family: 'Inconsolata', monospace;
	font-size: 13px;
}

@media (min-width: 400px) {
	small{
		display: none;
	}
}
@media (min-width: 1000px) {
	small{
		display: block;
	}
}